#hero {
  width: 100%;
  margin-top: 400px;
  height: 300px;
  border: 10px solid white;

}

#hero h1 {
  color: white;
  font-family: "Rubik Dirt", serif;
}

#hero .media-logo {
  height: 75px;
  width: 75px;
}
