/*Titulo*/
h2{
    text-align: center;

}
.underline {
    text-decoration: underline 0.1rem #880000;
}

/*Separacion de los contenedores*/
.first-container {
    display: flex;
    width: 100%;
  }
  

/*cada columna ocupa el 50% de la pag */
.left-column, 
.right-column {
  flex: 1; /* columnas proporciones iguales */
  padding: 10px;
  border: 1px solid black; 
  box-sizing: border-box; /* padding en el ancho total */
}


.left-column {
  background-color: #f0f0f0;
}

.right-column {
  background-color: #d0d0d0;
}



.second-container{
    background-color: #d3bebe;


}






/*Item tools*/
.img-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.img-container {
    width: 50px; /* Tamaño del círculo */
    height: 50px;
    border-radius: 50%; /* div circular */
    overflow: hidden;
    border: 2px solid #000; /* Borde para ver */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 12px;
  }
  
  .img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ajusta la imagen para llenar el círculo */
  }
  
  .img-title {
    margin-top: 10px;
    font-size: 1rem;
    color: #333;
  }