
.contact-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    backdrop-filter: blur(15px);
    background: rgba(255, 255, 255, 0.2);
}

/* .contact-form-container {
    backdrop-filter: blur(15px);
    background: rgba(255, 255, 255, 0.2);
} */

/* Form group styling */
.form-group {
    margin-bottom: 15px;
    text-align: left;
}

/* Input styling */
input, textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.contact-button {
    background-color: #132644;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    width: 100%;
}

.contact-button:hover {
    background-color: #5a1bba;
}


/*Error-Alerta*/
.alert {
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
}

.input-error {
    border-color: red;
}

.alert-warning {
    color: black;
    background-color: rgb(243, 250, 140);
}
