.video-container {
  width: 100%;
  height: auto;
  padding: 10px 0;
  columns: 4 200px;
  gap: 10px;
  row-gap: 20px;
  padding-bottom: 80px;
}

.video-item-container {
  width: 100%;
  height: 200px;
  cursor: pointer;
  border: 1px solid var(--darkslategray);
  transition: transform 0.3s;
}



.video-item {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: -200;
}

.close-video-icon {
  height: 50px;
  width: 50px;
  position: absolute;
  top: 20px;
  right: 10px;
  z-index: 10000;
  border: none;
  background-image: url('/icons/close.svg');
  background-repeat: no-repeat;
}

.video-thumb {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}


/*Full width*/

.video-fw {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  z-index: 1000000;
  padding: 20px 10px;
  background-color: #46434cd6;
}

.video-item-fw {
  max-width: 70vw;
  height: auto;
  object-fit: contain;
  filter: drop-shadow(1px 1px 5px var(--black));
}

.invisible {
  display: none;
}

