:root{
  --midnightblue: #132644; 
  --darkslategray: #46434C; 
  --black: #09080D; 
  --darkred: #880000; 
  --white: #ECEDEE;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


html{
  font-family: "Roboto", serif;
  background-color: var(--black);
  overflow-x: hidden;
}

/* Estilo para la barra de desplazamiento */
html::-webkit-scrollbar {
  width: 8px; /* Ancho de la barra vertical */
  height: 8px; /* Alto de la barra horizontal */
}

/* Fondo de la barra de desplazamiento */
html::-webkit-scrollbar-track {
  background: #121212; /* Color de fondo de la pista */
  border-radius: 4px; /* Bordes redondeados */
}

/* Color de la barra de desplazamiento */
html::-webkit-scrollbar-thumb {
  background: #989b99a9; /* Color del "pulgar" (la barra que se mueve) */
  border-radius: 4px; /* Bordes redondeados */
}

/* Cambiar color al pasar el cursor */
html::-webkit-scrollbar-thumb:hover {
  background: var(--darkred); /* Color más claro al hacer hover */
}