:root{
  --midnightblue: #132644; 
  --darkslategray: #46434C; 
  --black: #09080D; 
  --darkred: #880000; 
  --white: #ECEDEE;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", serif;
  background-color: var(--black);
}