footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: var(--midnightblue); 
    color: var(--white);
    margin-top: 30px;
  }

  .footer-logo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
  }

  .foteer-container{
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 65px 20px 30px;
    width: 100%;
  }

  .logo-icon-container{
    display: block;
    text-align: center;
    width: 200px;
    height: 80px;
  }

  .logo-icon-container .logo-icon{
    width: 100%;
    height: 100%;
  }

  .footer-social{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  /* Estilo para redes sociales */
  .footer-social span {
    display: block;
    margin-bottom: 10px;
  }
  
  .footer-social a {
    margin: 0 10px;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
  }
  
  .footer-social img {
    width: 40px;
    height: 40px;
  }
  
  /* Estilo para navegación */
  .footer-nav nav {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    padding: 20px 0;
  }

  nav .links{
    display: flex;
    gap: 10px;
  }
  
  .footer-nav nav a {
    display: inline-block;
    font-size: 1.1rem;
    text-decoration: none;
    color: var(--white);
    position: relative;
    overflow: hidden;
    cursor: pointer;
    padding: 10px 5px;
    transition: 1s;
    background: transparent;
  }
  
  .footer-nav a:hover {
    background: rgba(136, 0, 0, 0.55);
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  }

  .copyright{
    text-align: center;
    margin-bottom: 40px;
  }
  
  @media(min-width: 768px) {
    .foteer-container{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;
    }

    .footer-phrase{
        width: 60%;
    }

    .footer-nav{
        display: flex;
        justify-content: center;
        width: 100%;
    }
}

@media(min-width:1024px){
    .foteer-container{
        flex-wrap: nowrap;
        justify-content: space-between;
    }

    .footer-nav{
        width: auto;
        padding-right: 40px;
    }

    .footer-nav nav{
        gap: 20px;
    }

    .footer-nav nav .links{
        gap: 20px;
    }
}